{% extends "base.html" %}
{% block content %}

<section class="container">
    <h1>Contacto</h1>

    <p>
        Si quieres contactarme para proyectos, colaboración o trabajo,
        puedes hacerlo a través de los siguientes medios:
    </p>

    <div class="contact-list">

        <div class="contact-item">
            <i class="fa-solid fa-envelope"></i>
            <strong>Email:</strong>
            <a href="mailto:ts.belenzambrano@gmail.com">
                ts.belenzambrano@gmail.com
            </a>
        </div>

        <div class="contact-item">
            <i class="fa-brands fa-github"></i>
            <strong>GitHub:</strong>
            <a href="https://github.com/BelZambrano" target="_blank">
                github.com/BelZambrano
            </a>
        </div>

        <div class="contact-item">
            <i class="fa-brands fa-linkedin"></i>
            <strong>LinkedIn:</strong>
            <a href="https://www.linkedin.com/in/belen-zambrano-trabajadora-social-ti/" target="_blank">
                linkedin.com/in/belen-zambrano-trabajadora-social-ti
            </a>
        </div>

    </div>

</section>

{% endblock %}