{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="hero fade-up">
    <div class="hero-text">
        <p class="tag">Trabajo Social + Tecnología</p>
        <h1>Belén Zambrano</h1>
        <h2>Desarrolladora Full Stack en formación</h2>
        <p class="description">
            Construyendo soluciones tecnológicas con enfoque humano, social y orientado a resolver problemas reales.
        </p>

        <div class="hero-buttons">
            <a href="{% url 'projects' %}" class="btn btn-primary">Ver proyectos</a>
            <a href="{% url 'contact' %}" class="btn btn-secondary">Contacto</a>
        </div>
    </div>

    <div class="hero-image">
        <div class="hero-image-box">
            <img src="{% static 'images/panda.png' %}" alt="Avatar panda de Belén">
        </div>
    </div>
</section>
{% endblock %}