{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belén Zambrano</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

<nav>
    <a href="{% url 'home' %}">Inicio</a>
    <a href="{% url 'about' %}">Sobre mí</a>
    <a href="{% url 'projects' %}">Proyectos</a>
    <a href="{% url 'contact' %}">Contacto</a>
</nav>

<hr>

{% block content %}
{% endblock %}

</body>
</html>